**Задача 1**. Дано слово из латинских букв. Напишите скрипт, который выводит на экран букву из середины слова (если число букв нечетное). Если букв четное число, то на экран выводятся две буквы из середины.  

Пример: для 'test' должно выводится 'es', для 'testing' - 't'

In [24]:
word = input('Введите слово: ')
if len(word) % 2 == 0:
    i = len(word) / 2 - 1
    j = len(word) / 2 + 1
    print(word[int(i):int(j)])
else: 
    k = len(word) // 2
    print(word[int(k)])

Введите слово: testing
t

**Задача 2**. Мы делаем MVP dating-сервиса, и у нас есть список парней и девушек (их число может варьироваться):

In [25]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']

Выдвигаем гипотезу: лучшие рекомендации мы получим, если просто отсортируем имена по алфавиту и познакомим людей с одинаковыми индексами после сортировки! "Познакомить" пары нам поможет функция zip, а в цикле распакуем zip-объект и выведем информацию в виде:

Идеальные пары:  
Alex и Emma  
Arthur и Kate  
John и Kira  
Peter и Liza  
Richard и Trisha

**Внимание! Если количество людей в списках будет не совпадать, то мы никого знакомить не будет и выведем пользователю предупреждение, что кто-то может остаться без пары!**

In [26]:
boys_sort = sorted(boys)
girls_sort = sorted(girls)
if len(boys_sort) == len(girls_sort):
    boys_girls = zip(boys_sort, girls_sort)
    for names in boys_girls:
        name_boy, name_girl = names
        print(f'{name_boy} и {name_girl}')
else: print('Кто-то может остаться без пары')

Alex и Emma
Arthur и Kate
John и Kira
Peter и Liza
Richard и Trisha

**Задача 3**. У нас есть список, содержащий информацию о среднедневной температуре в Фаренгейтах за недельный период по странам.
Необходимо написать код, который рассчитает среднюю температуру за неделю в Цельсиях для каждой страны.

In [27]:
countries_temperature = [
 ['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
 ['Germany', [57.2, 55.4, 59, 59, 53.6, 55.4, 57.2]],
 ['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
 ['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4, 51.8]],
]

In [28]:
# celsius = (farenheit - 32) / 1.8
for countries in countries_temperature:
    print(f'Average week temperature in {countries[0]} - {round((((sum(countries[1]) / 7) - 32) / 1.8), 1)} degrees Celsius')

Average week temperature in Thailand - 23.9 degrees Celsius
Average week temperature in Germany - 13.7 degrees Celsius
Average week temperature in Russia - 3.7 degrees Celsius
Average week temperature in Poland - 11.9 degrees Celsius

**Задача 4.** Дан поток логов по количеству просмотренных страниц для каждого пользователя. Список отсортирован по ID пользователя. Вам необходимо написать алгоритм, который считает среднее значение просмотров на пользователя. 
Т. е. надо посчитать отношение суммы всех просмотров к количеству уникальных пользователей.

In [29]:
stream = [
    '2018-01-01,user1,3',
    '2018-01-07,user1,4',
    '2018-03-29,user1,1',
    '2018-04-04,user1,13',
    '2018-01-05,user2,7',
    '2018-06-14,user3,4',
    '2018-07-02,user3,10',
    '2018-03-21,user4,19',
    '2018-03-22,user4,4',
    '2018-04-22,user4,8',
    '2018-05-03,user4,9',
    '2018-05-11,user4,11',
]

In [30]:
# Вариант 1 
users = []
views = 0
for log in stream:
    log = log.split(',')
    views += int(log[2])
    if log[1] not in users:
        users.append(log[1])  
print(f'Average views on user: {views / len(users)}')

Average views on user: 23.25

In [31]:
# Вариант 2
users = set()
views = 0
for log in stream:
    log = log.split(',')
    users.add(log[1])
    views += int(log[2])
print(f'Average views on user: {views / len(users)}')

Average views on user: 23.25

**Задача 5**. Дана статистика рекламных кампаний по дням. Напишите алгоритм, который по паре дата-кампания ищет значение численного столбца. 
Т. е. для даты '2018-01-01' и 'google' нужно получить число 25. 
Считайте, что все комбинации дата-кампания уникальны.

In [32]:
stats = [
    ['2018-01-01', 'google', 25],
    ['2018-01-01', 'yandex', 65],
    ['2018-01-01', 'market', 89],
    ['2018-01-02', 'google', 574],
    ['2018-01-02', 'yandex', 249],
    ['2018-01-02', 'market', 994],
    ['2018-01-03', 'google', 1843],
    ['2018-01-03', 'yandex', 1327],
    ['2018-01-03', 'market', 1764],
]

In [33]:
date = input('Введите дату в формате yyyy-mm-dd: ')
company = input('Введите название компании: ')
dates = set()
companies = set()
for element in stats:
    dates.add(element[0])
    companies.add(element[1])
if date not in dates:
    print('Неверная дата')
elif company not in companies:
    print('Неверная компания')
else:
    for element in stats:
        if element[0] == date and element[1] == company:
            print(element[2])

Введите дату в формате yyyy-mm-dd: 2018-01-01
Введите название компании: google
25

**Задача 6**. Дан список вида:

In [34]:
data = [
    [13, 25, 23, 34],
    [45, 32, 44, 47],
    [12, 33, 23, 95],
    [13, 53, 34, 35]
]

Напишите код, который будет вычислять сумму элементов на диагонали. Т. е. 13+32+23+35.  
Список может быть любой длины, но всегда является "квадратным" (количество элементов во вложенных списках равно их количеству).

In [35]:
diagonal = 0
x = len(data)
while x != 0:
    x -= 1
    diagonal += data[x][x]
print(diagonal)

103